.header-name-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color:black;
}
.user-name {
    
    color: #FFFFFF;
    font-family: sans-serif;
    width: 300px
    ;
}