

.bg-create-container {
    background-color: black;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    background-color: #1c1b1b;
    width: 387px;
    height: 350px;
    top: 134px;
    left: 482px;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center

    ;
}

.rocket-create-image {
    width: 25px;
    height: 25px;
    top: 7px;
    left: 15px;
}

.create-account-heading {
    width: 219px;
height: 28px;
top: 98px;
left: 93px;
font-family:sans-serif;
font-size: 22px;
font-weight: 700;
line-height: 28px;
letter-spacing: 0em;
text-align: left;

color: #FFFFFF;
margin-bottom: 30px;



}

.input-name {
    width: 275px;
height: 25px;
top: 174px;
left: 64px;
padding: 10px;
padding-left: 20px;
border-radius: 1000px;
border: 1px solid white;
background-color: transparent;
color: #FFFFFF;
margin-bottom: 25px;
}


.continue-arrow-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #404040;
    width: 275px;
height: 48px;
top: 310px;
left: 64px;
padding: 14px, 86.96px, 15px, 96px;
border-radius: 1000px;

}

.continue-button {
    background-color: transparent;
    border: none;
    color: #FFFFFF;
    font-family: sans-serif;
    font-size: 16px;
}

.right-image {
    width: 12px;
    height: 15.04px;
    top: 18px;
    left: 234.04px;
    border: 2px;
    
    color:#FFFFFF;
}

